@page "/"

<PageTitle>Customer Support Ticketing System</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-primary text-white p-5 rounded">
                <h1 class="display-4">Customer Support Ticketing System</h1>
                <p class="lead">Welcome to our customer support portal. Please sign in to view and manage your support tickets.</p>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Portal</h5>
                    <p class="card-text">Sign in to create new tickets, view your ticket history, and track the status of your support requests.</p>
                    <a href="/player/login" class="btn btn-primary">Customer Sign In</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agent Portal</h5>
                    <p class="card-text">Support agents can sign in to view and respond to customer tickets, manage ticket status, and provide assistance.</p>
                    <a href="/agent/login" class="btn btn-success">Agent Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
