@page "/tickets"

<PageTitle>Tickets</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Support Tickets</h1>
            <p class="text-muted">View and manage your support tickets</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <h5>🚧 Under Construction</h5>
                <p class="mb-0">This page is being developed. Please sign in first to access your tickets.</p>
            </div>
        </div>
    </div>
</div>
